<template>
<div>
  <div class='banner'>
    <h1>Health Tracker</h1>
    <br>
    <span>
      <b-link class='nav-item' to="/">Home</b-link>
      <b-link class='nav-item' to="addIngredient">Add Ingredient</b-link>
      <b-link class='nav-item' to="addRecipe">Add Recipe</b-link>
    </span>
  </div>
  <div class='content'>
    <router-view />
  </div>
</div>
</template>

<script>
import HealthService from "./services/HealthService";

export default {
  name: 'App',
  mounted() {
    // Check of the user is logged in and if not bring the user to login.
      HealthService.isLoggedIn().then(val => {
        if(!val.data) {
          this.$router.push("Login");
        }
      });
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.banner {
  background-color: aqua;
  padding: 15px
}

.content {
  margin: 15px;
}

.nav-item {
  padding-right: 15px;
}

body {
  margin: 0 0 0 0;
}
</style>
