<template>
    <b-container fluid>
        <b-row>
            <b-col>
                <h2>Add Ingredient</h2>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col md='6'>
                <b-row>
                    <b-col md='3'>
                        <label label-for='name'>Ingredient Name</label>
                        <br>
                        <b-input
                            id="name"
                            v-model="form.name"
                        />
                    </b-col>
                    <b-col md='3'>
                        <label label-for='calories'>Calories</label>
                        <br>
                        <b-input
                            id="calories"
                            v-model="form.calories"
                        />
                    </b-col>
                    <b-col md='3'>
                        <label label-for='unit'>Unit</label>
                        <br>
                        <b-input
                            id="size"
                            v-model="form.unit"
                        />
                    </b-col>
                    <b-col md='3'>
                        <label label-for='size'>Serving Size</label>
                        <br>
                        <b-input
                            id="size"
                            v-model="form.servingSize"
                        />
                        {{form.unit}}
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md='3'>
                        <label label-for='protein'>Protein</label>
                        <br>
                        <b-input
                            id="protein"
                            v-model="form.protein"
                        />
                    </b-col>
                    <b-col md='3'>
                        <label label-for='fat'>Fat</label>
                        <br>
                        <b-input
                            id="fat"
                            v-model="form.fat"
                        />
                    </b-col>
                    <b-col md='3'>
                        <label label-for='carbs'>Carbohydrates</label>
                        <br>
                        <b-input
                            id="carbs"
                            v-model="form.carbs"
                        />
                    </b-col>
                    <b-col md='3'>
                    </b-col>
                </b-row>
                <br>
                <b-row>
                    <b-col>
                        <b-button variant='primary' @click="createIngredient">Create</b-button>
                    </b-col>
                </b-row>
            </b-col>
            <b-col md='6'>

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import HealthService from '../services/HealthService';

export default {
    data() {
        return {
            form: {
                name: "",
                calories: 0,
                unit: "",
                servingSize: 0,
                protein: 0,
                fat: 0,
                carbs: 0
            }
        }
    },
    methods: {
        /**
         * Create a new ingredient.
         */
        createIngredient() {
            HealthService.createIngredient(this.form).then(() => {
                this.$toasted.show('New Ingredient Added', {
                    type: "success",
                    duration: 3000
                });
            });
        }
    }
}
</script>

<style>

</style>