<template>
    <b-container fluid>
        <b-row>
            <b-col>
                <h2>Add Recipe</h2>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col>
                <h4>Recipe Details</h4>
            </b-col>
        </b-row>
        <b-row>
            <b-col md='3'>
                <label label-for='name'>Recipe Name</label>
                <br>
                <b-input
                    id="name"
                    v-model="form.name"
                />
            </b-col>
            <b-col md='3'>
                <label label-for='unit'>Serving Size Unit</label>
                <br>
                <b-input
                    id="unit"
                    v-model="form.unit"
                />
            </b-col>
            <b-col md='3'>
                <label label-for='size'>Serving Size</label>
                <br>
                <b-input
                    id="size"
                    v-model="form.size"
                />
                {{form.unit}}
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col md='3'>
                <h4>Add Ingredient</h4>
                <br>
                <label label-for='ingSel'>Ingredient</label>
                <br>
                <b-form-select
                    id='ingSel'
                    v-model="selectedIngredient"
                >
                    <b-form-select-option
                        v-for="item in availableIngredients"
                        :value="item.ingredientId"
                        :key="item.ingredientId"
                         
                    >
                        {{ item.name }}
                    </b-form-select-option>
                </b-form-select>
                <br>
                <label label-for='ingAmt'>Servings</label>
                <br>
                <span>
                    <b-input
                        id="ingAmt"
                        style="width:70%"
                        class='float-left'
                        v-model="servingSize"
                    />
                    <span style="width:30%" class="float-right text-left">
                    {{ selectedIngredient.unit }}
                    </span>
                </span>
                <br>
                <br>
                <b-button variant='primary' @click="addIngredient">
                    Add Ingredient
                </b-button>
            </b-col>
            <b-col md='1' />
            <b-col md="3">
                <h4>Ingredients</h4>
                <br>
                <ul>
                    <li v-for='item in form.ingredients' :key='item.ingredientId'>
                        {{item.name}}
                    </li>
                </ul>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col class='text-center'>
                <b-button variant='primary' @click="createRecipe">Create Recipe</b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import HealthService from '../services/HealthService';

export default {
    created() {
        HealthService.getIngredients().then(ret => this.availableIngredients = ret.data);
    },
    data() {
        return {
            form: {
                name: undefined,
                ingredients: [],
                selectedIngredient: {}
            },
            selectedIngredient: {},
            availableIngredients: [],
            servingSize: 1
        }
    },
    methods: {
        /**
         * Add a new ingredient to the recipe.
         */
        addIngredient() {
            const ing = {...this.availableIngredients.find(val => val.ingredientId === this.selectedIngredient)};
            ing.calories = ing.calories * this.servingSize;
            ing.protein = ing.protein * this.servingSize;
            ing.fat = ing.fat * this.servingSize;
            ing.carbs = ing.carbs * this.servingSize;
            this.form.ingredients.push(ing);
        },
        /**
         * Create a new recipe.
         */
        createRecipe() {
            HealthService.createRecipe(this.form).then(() => {
                this.$toasted.show('New Recipe Added', {
                    type: "success",
                    duration: 3000
                });
            });
        }
    }
}
</script>

<style>

</style>