<template>
    <b-container fluid>
        <b-row>
            <b-col>
                <h2>Home</h2>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col md="3">
                <h3>Current Calories: </h3>
                <br>
                <h3>{{ currentNutrition.totalCalories }}</h3>
            </b-col>
            <b-col md="3">
                <h3>Current Protein:</h3>
                <br>
                <h3>{{ currentNutrition.totalProtein + "g" }}</h3>
            </b-col>
            <b-col md="3">
                <h3>Current Fat:</h3>
                <br>
                <h3>{{ currentNutrition.totalFat + "g" }}</h3>
            </b-col>
            <b-col md="3">
                <h3>Current Carbs:</h3>
                <br>
                <h3>{{ currentNutrition.totalCarbs + "g" }}</h3>
            </b-col>
        </b-row>
        <br>
        <hr>
        <b-row>
            <b-col md="3">
                <MealBoard
                    title='Breakfast'
                    :items='currentNutrition.breakfast'
                    :recipes='recipes'
                    @mealAdded="loadData"
                />
            </b-col>
            <b-col md="3">
                <MealBoard
                    title='Lunch'
                    :items='currentNutrition.lunch'
                    :recipes='recipes'
                    @mealAdded="loadData"
                />
            </b-col>
            <b-col md="3">
                <MealBoard
                    title='Dinner'
                    :items='currentNutrition.dinner'
                    :recipes='recipes'
                    @mealAdded="loadData"
                />
            </b-col>
            <b-col md="3">
                <MealBoard
                    title='Snacks'
                    :items='currentNutrition.snacks'
                    :recipes='recipes'
                    @mealAdded="loadData"
                />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import HealthService from "../services/HealthService";
import MealBoard from "../components/MealBoard";

export default {
    created() {
        this.loadData();
    },
    components: {
        MealBoard
    },
    data() {
        return {
            recipes:[],
            currentNutrition: {}
        }
    },
    methods: {
        loadData() {
            const today = new Date(Date.now()).toISOString().split('T')[0];
            Promise.all([HealthService.getRecipes(), HealthService.getUserFoodItems(today)]).then(val => {
                this.recipes = val[0].data;
                this.currentNutrition = val[1].data;
            });
        }
    }
}
</script>

<style>

</style>