<template>
    <b-container fluid>
        <b-row>
            <b-col>
                <h2>Login</h2>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col md="3">
                <label>Username</label>
                <br>
                <b-input 
                    v-model="form.username"
                />
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col md="3">
                <label>Password</label>
                <br>
                <b-input
                    v-model="form.password"
                    type="password"
                />
            </b-col>
        </b-row>
        <b-row>
            <b-col md="3">
                <b-button
                    @click="login"
                    variant="primary"
                >
                    Login
                </b-button>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col md="3">
                <router-link to="register">Register</router-link>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import HealthService from '../services/HealthService';

export default {
    data() {
        return {
            form: {
                username: undefined,
                password: undefined
            }
        }
    },
    methods: {
        login() {
            // Login and show success or error.
            HealthService.login(this.form).then(val => {
                if (val.data) {
                    this.$router.push("/");
                    this.$toasted.show('Logged In', {
                        type: "success",
                        duration: 3000
                    });
                } else {
                    this.$toasted.show('Error Logging in', {
                        type: "error",
                        duration: 3000
                    });
                }
            });
        }
    }
}
</script>

<style>

</style>