<template>
    <div>
        <b-row>
            <b-col>
                <h3>
                    {{ title }} 
                    <b-button
                        variant="outline-primary"
                        size="sm"
                        v-b-modal="title + '-add-meal-modal'"
                    >
                        +
                    </b-button>
                </h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <ul>
                    <li v-for='item in items' :key='item.id'>
                        {{item.name}}
                    </li>
                </ul>
            </b-col>
        </b-row>
        <b-modal
            :id="title + '-add-meal-modal'"
            @ok="addItem"    
        >
            <template v-slot:modal-header>
                <h3>{{"Add " + title + " Item"}}</h3>
            </template>
            <template v-slot:default>
                <b-row>
                    <b-col md='6'>
                        <label label-for='mealSel'>Meal</label>
                        <br>
                        <b-select
                            id='mealSel'
                            @input="setCurrentMeal"
                        >
                            <b-select-option v-for="item in recipes" :value="item.recipeId" :key="item.recipeId">
                                {{ item.name }}
                            </b-select-option>
                        </b-select>
                    </b-col>
                    <b-col md='6'>
                        <label label-for='servings'>Servings</label>
                    <br>
                    <span>
                        <b-input
                            id="servings"
                            style="width:70%"
                            class='float-left'
                            v-model="form.servingSize"
                        />
                        <span style="width:30%" class="float-right text-left">
                        {{ form.unit }}
                        </span>
                    </span>
                    </b-col>
                </b-row>
            </template>
        </b-modal>
    </div>
</template>

<script>
import HealthService from "../services/HealthService";

export default {
    props: {
        title: String,
        items: Array,
        recipes: Array
    },
    data() {
        return {
            form: {
                recipeId: undefined,
                servingSize: 1,
                mealType: undefined,
                name: "",
                calories: 0,
                protein: 0,
                fat: 0,
                carbs: 0
            },
            userFoodItems: []
        }
    },
    methods: {
        /**
         * Add a new food item to the users food items.
         */
        addItem() {
            this.form.mealType = this.title[0];
            this.form.calories = this.form.calories * this.form.servingSize;
            this.form.protein = this.form.protein * this.form.servingSize;
            this.form.fat = this.form.fat * this.form.servingSize;
            this.form.carbs = this.form.carbs * this.form.servingSize;
            HealthService.addUserFoodItem(this.form).then(() => this.$emit("mealAdded")).then(() => {
                this.$toasted.show('New Meal Item Added', {
                    type: "success",
                    duration: 3000
                });
            });
        },
        /**
         * Set the current meal information.
         */
        setCurrentMeal(id) {
            const recipe = this.recipes.find(val => val.recipeId === id);
            this.form.recipeId = id;
            this.form.name = recipe.name;
            this.form.calories = recipe.calories;
            this.form.protein = recipe.protein;
            this.form.fat = recipe.fat;
            this.form.carbs = recipe.carbs;
            this.form.unit = recipe.unit;
            this.form.servingSize = recipe.servingSize;
        }
    }
}
</script>

<style>

</style>